server:
  port: 8085
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

spring:
  application:
    name: learning-service
  
  datasource:
    url: jdbc:postgresql://localhost:5432/learning_service_db?characterEncoding=UTF-8&useUnicode=true&stringtype=unspecified
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:Aa1234}
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-init-sql: SET client_encoding TO 'UTF8'
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: learningservice
        connection:
          characterEncoding: UTF-8
          useUnicode: true
        hbm2ddl:
          charset: UTF-8
    open-in-view: false

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true

jwt:
  secret: ${JWT_SECRET:5Ug/98ITtqMrJqakx4zPmlUTDmqhqqsC2MNEfE4NZ4w=}
  expiration: 86400000

logging:
  level:
    root: INFO
    vn.careermate.learningservice: DEBUG
  file:
    name: logs/learning-service.log

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
